name: Laravel CI + Deploy to Render

on:
  push:
    branches: [ "release/2.0.0" ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, pdo_pgsql, bcmath, gd

      - name: Install Dependencies
        run: |
          composer install --optimize-autoloader --no-dev --no-progress
          composer dump-autoload

      - name: Prepare .env for testing
        run: |
          cp .env.example .env
          sed -i "s|APP_URL=.*|APP_URL=https://sas-zarzal.onrender.com|g" .env
          sed -i "s|ASSET_URL=.*|ASSET_URL=https://sas-zarzal.onrender.com|g" .env
          sed -i "s|APP_DEBUG=true|APP_DEBUG=false|g" .env
          sed -i "s|APP_ENV=local|APP_ENV=production|g" .env

      - name: Run Tests
        run: ./vendor/bin/pest --ci

  deploy:
    needs: tests
    runs-on: ubuntu-latest
    if: success()
    steps:
      - name: Trigger Render Deploy
        run: |
          curl -X POST "https://api.render.com/deploy/${{ secrets.RENDER_SERVICE_ID }}?key=${{ secrets.RENDER_API_KEY }}"