name: Laravel CI

on:
  push:
    branches: [ "release/2.0.0" ]
  pull_request:
    branches: [ "release/2.0.0" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        extensions: mbstring, xml, ctype, iconv, intl, pdo_sqlite, sqlite3
        coverage: none

    - name: Install Dependencies
      run: |
        composer install --no-progress --no-suggest --prefer-dist --optimize-autoloader

    - name: Prepare Laravel
      run: |
        cp .env.example .env
        echo "DB_CONNECTION=sqlite" >> .env
        echo "DB_DATABASE=:memory:" >> .env
        php artisan key:generate

    - name: Run Tests
      run: ./vendor/bin/pest --ci

    - name: Upload Results (on failure)
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: pest-results
        path: |
          tests/
          storage/logs/